 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/essensplatte.jpeg');
  background-position: 50% 50%, 50% 0%;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 8rem;
  margin: 296px auto 0;
}

.u-section-1 .u-text-2 {
  width: 826px;
  margin: 31px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    font-size: 6rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5rem;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 597px;
}

.u-section-2 .u-tabs-1 {
  min-height: 407px;
  height: auto;
  width: 1118px;
  margin: 60px auto;
}

.u-section-2 .u-tab-link-1 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-2 .u-tab-link-2 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-2 .u-tab-link-3 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-2 .u-tab-link-4 {
  background-image: none;
  font-size: 1.25rem;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-table-1 {
  margin-bottom: 0;
  margin-top: 27px;
}

.u-block-a5e3-27 {
  height: 47px;
}

.u-section-2 .u-table-cell-1 {
  letter-spacing: 0.5px;
  font-weight: 300;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-2 {
  letter-spacing: 0.5px;
  font-weight: 300;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-3 {
  letter-spacing: 0.5px;
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-2 .u-table-cell-4 {
  letter-spacing: 0.5px;
  font-weight: 300;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-5 {
  letter-spacing: 0.5px;
  font-weight: 300;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-6 {
  letter-spacing: 0.5px;
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-2 .u-table-cell-7 {
  letter-spacing: 0.5px;
  font-weight: 300;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-8 {
  letter-spacing: 0.5px;
  font-weight: 300;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-9 {
  letter-spacing: 0.5px;
  font-size: 1.125rem;
  font-weight: 700;
}

.u-block-a5e3-42 {
  height: 47px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-table-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-block-a5e3-53 {
  height: 47px;
}

.u-section-2 .u-table-cell-10 {
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-11 {
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-12 {
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-13 {
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-14 {
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-15 {
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-16 {
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-17 {
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-18 {
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-19 {
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-20 {
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-21 {
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-22 {
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-23 {
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-24 {
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-25 {
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-26 {
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-27 {
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-28 {
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-29 {
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 1.125rem;
}

.u-section-2 .u-table-cell-30 {
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 1.125rem;
}

.u-block-a5e3-68 {
  height: 47px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-table-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-block-a5e3-81 {
  height: 47px;
}

.u-section-2 .u-table-cell-31 {
  font-weight: 300;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}

.u-section-2 .u-table-cell-32 {
  font-weight: 300;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}

.u-section-2 .u-table-cell-33 {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.u-section-2 .u-table-cell-34 {
  font-weight: 300;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}

.u-section-2 .u-table-cell-35 {
  font-weight: 300;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}

.u-section-2 .u-table-cell-36 {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.u-section-2 .u-table-cell-37 {
  font-weight: 300;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}

.u-section-2 .u-table-cell-38 {
  font-weight: 300;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}

.u-section-2 .u-table-cell-39 {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.u-section-2 .u-table-cell-40 {
  font-weight: 300;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}

.u-section-2 .u-table-cell-41 {
  font-weight: 300;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}

.u-section-2 .u-table-cell-42 {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.u-section-2 .u-table-cell-43 {
  font-weight: 300;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}

.u-section-2 .u-table-cell-44 {
  font-weight: 300;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}

.u-section-2 .u-table-cell-45 {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.u-block-a5e3-96 {
  height: 47px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-2 .u-table-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-block-a5e3-107 {
  height: 47px;
}

.u-section-2 .u-table-cell-46 {
  font-weight: 300;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}

.u-section-2 .u-table-cell-47 {
  font-weight: 300;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}

.u-section-2 .u-table-cell-48 {
  font-size: 1.125rem;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.u-section-2 .u-table-cell-49 {
  font-weight: 300;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}

.u-section-2 .u-table-cell-50 {
  font-weight: 300;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}

.u-section-2 .u-table-cell-51 {
  font-size: 1.125rem;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.u-section-2 .u-table-cell-52 {
  font-weight: 300;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}

.u-section-2 .u-table-cell-53 {
  font-weight: 300;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}

.u-section-2 .u-table-cell-54 {
  font-size: 1.125rem;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.u-section-2 .u-table-cell-55 {
  font-weight: 300;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}

.u-section-2 .u-table-cell-56 {
  font-weight: 300;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}

.u-section-2 .u-table-cell-57 {
  font-size: 1.125rem;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.u-section-2 .u-table-cell-58 {
  font-weight: 300;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}

.u-section-2 .u-table-cell-59 {
  font-weight: 300;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}

.u-section-2 .u-table-cell-60 {
  font-size: 1.125rem;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.u-block-a5e3-122 {
  height: 47px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-tabs-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-tabs-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-tabs-1 {
    width: 540px;
  }

  .u-section-2 .u-tab-link-1 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-2 .u-tab-link-2 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-2 .u-tab-link-3 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-2 .u-tab-link-4 {
    font-size: 1.1111111111111112rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-tabs-1 {
    width: 340px;
  }
}